name: Build and Generate SBOM for MERN Project
on:
  push:
    branches:
      - frontend-*
      - backend-*
jobs:
  build-and-generate-sbom:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Install Dependencies
        run: npm ci
        working-directory: ${{ github.event_name == 'push' && contains(github.ref, 'frontend') && 'frontend' || 'backend' }}
      - name: Generate SBOM with CycloneDX
        uses: CycloneDX/gh-node-module-generatebom@v1
        with: 
          output: './sbom.xml'
        working-directory: ${{ github.event_name == 'push' && contains(github.ref, 'frontend') && 'frontend' || 'backend' }}
      - name: Upload SBOM artifact
        uses: actions/upload-artifact@v2
        with:
          name: sbom
          path: ${{ github.event_name == 'push' && contains(github.ref, 'frontend') && 'frontend/sbom.xml' || 'backend/sbom.xml' }}
      - name: Display contents of SBOM artifact
        if: always()
        run: |
          cat ${{ github.event_name == 'push' && contains(github.ref, 'frontend') && 'frontend/sbom.xml' || 'backend/sbom.xml' }}
