name: CycloneDX

on:
  push:
    branches:
      - 'frontend'
      - 'backend'

defaults:
  run:
    shell: bash
    working-directory: backend

jobs:
  cyclonedx:
    runs-on: ubuntu-latest
    name: Generate CycloneDX SBOM
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Install dependencies
        run: |
          npm install
      - name: Generate SBOM with CycloneDX
        uses: CycloneDX/gh-node-module-generatebom@v1
        with:
          path: ${{ github.workspace }}/backend
          output: ${{ github.event_name == 'push' && contains(github.ref, 'frontend') && 'sbom_frontend.xml' || 'sbom_backend.xml' }}
      - name: Upload SBOM artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ github.event_name == 'push' && contains(github.ref, 'frontend') && 'sbom_frontend.xml' || 'sbom_backend.xml' }}
          path: ${{ github.event_name == 'push' && contains(github.ref, 'frontend') && './sbom_frontend.xml' || './sbom_backend.xml' }}
