name: Detect Secrets Scan

on:
  push:
    branches:
      - 'frontend'
      - 'backend'

jobs:
  detect-secrets-scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install detect-secrets
      run: pip install detect-secrets

    - name: Detect Secrets Scan
      run: |
        detect-secrets scan > detect-secrets-output.txt
        if [[ $GITHUB_REF == "refs/heads/frontend" ]]; then mv detect-secrets-output.txt detect-secrets-frontend.txt; fi
        if [[ $GITHUB_REF == "refs/heads/backend" ]]; then mv detect-secrets-output.txt detect-secrets-backend.txt; fi

    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: ${{ github.ref }}-detect-secrets
        path: detect-secrets-*.txt
